*{ 
  margin: 0;
}
body{
  background-color: darkgray;
}

.scrollBar::-webkit-scrollbar {
  display: none;
}
/* search animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(-0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(-0);
  }
}
.MuiFormLabel-root.Mui-focused {
  color: #0e7b65 !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-bottom: 1px solid #0e7b65 !important;
}